#myVideo {
    left: 100;
    top: 0;
    width: 100%; 
    height: 100%;
}

#myFullScreenVideo {
    left: 100;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}



/* Add some content at the middle of the video/page */
.content {
    position: absolute;
    top: 300px;
    text-align: center;
    color: #ffffff;
    width: 100%;
	left: 10px;
	font-size: 115px;
	font-weight: bold;
	
}

#a1a {
	position: relative;
	padding-left: 20px;

}
#a1b {
	position: relative;
	padding-top: 30px;
}

h4 {
	color: #C33235;
	font-size: 18pt;
	
	
}

body {
	font-size: 13pt;
	font: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	
}
	





section{
	width: 100%; 
	height: 800px;
	padding-left: 10px;
	background-position: center center;
	background-attachment: fixed; 
	background-repeat: repeat-x;
}
	
/* #a1{background-color: #FFFFFF; height: 1300px;}*/
/* #a2a{background-color: #6ABFE1; background-image: url();} */
#a1b{background-color: #6ABFE1; background-image: url(https://images.unsplash.com/photo-1519275565142-d81952f9e2d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);}
#a2c{background-color: #6ABFE1; background-image: url(https://images.unsplash.com/photo-1514565131-fce0801e5785?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2532&q=80);}
/* #a3{background-color: #FFFFFF; height: 1300px;}
#a3a{background-color: #BF8CF2; background-image: url();}
#a3b{background-color: #BF8CF2; background-image: url();}
#a3c{background-color: #BF8CF2; background-image: url();}